@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bangers', Arial, Helvetica, sans-serif;
    color: white;
    scroll-behavior: smooth;
    font-size: 14px;

}

html,
body {
    background-color: #202020;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

@media screen and (max-width: 577px) {
    header,nav ul {
      display:flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    
  }

li,
a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.15em;
    color: #595959;
}

.icon {
    display: flex;
    justify-content: flex-end;
    padding: 15px 5%;
}


.logo {
    float: left;
    margin-right: auto;
    cursor: pointer;
    margin-right: 30px;
    border:none;
    height:60px;
    width:300px;
}


.nav_links {
    list-style: none;
    padding: 0px 20px;

}


.nav_links li {
    margin: 0px 10px;
    display: inline-block;

}

.nav_links a {
    transition: all 0, 3s ease 0s;
}

.nav_links li a:hover {
    color: white;
    text-decoration: none;

}

button {
    color: black;
    background-color: white;
    transition: all 0, 3s ease 0s;
    padding: 0px 4px;
}

.buttons {
    display: flex;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
}

.questions {
    margin: 20px 30px;
    padding: 20px 30px;
    color: red;
}

.questions>p {
    margin-top: 20px;
}

.form-container>h2 {
    margin-bottom: 50px;

}

.col {
    border: 1px solid black;
    height: 600px;
    background-position: center;
}




.col1 {
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
    transition:background-image 2s;
}

.col2 {
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
    transition:background-image 2s ;
}
.col3{
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
    transition:background-image 2s;
}
.col4{
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
    transition:background-image 2s;
}
.col5{
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
    transition:background-image 2s;
}

.user {
   width:100px;
   height:100px;
   justify-content: center;
   border:none;

}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 1.25rem;
    cursor: pointer;

}

.close2 {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 1.25rem;
    cursor: pointer;
}

.about>h2 {
    margin-top: 40px;
}

.game {
    text-justify: center;
}

.heroes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}



.versus {
    width: 200px;
    height:200px;
    border:none;
}
img{
    width:300px;
    border:5px solid black;
    height:400px;
    margin-top:2%
}
h3{
    font-size: 1.2em;
    text-align: center;
}
.questions{
    text-align: center;

}
.modal-header{
    justify-content: center;
}

.message-container{
    margin-top: 5px;
}
.message-container p, .message-container1 p{
    color:red;
}

.game{
    font-size:3em;
    text-align:center;
    z-index: 1;
    text-decoration: none;
    color:red;
    display: inline-block;
    text-align: center;
}
.container > a:hover{
    color:white;
}
.about{
    margin-top:50px;
}
.logo1{
    height:90px;
    width:60px;
    border:2px solid black;
}
.heroes{
    display:flex;
    flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

}



.button-start{
    text-align:center;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

