@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
box-sizing: border-box;
 margin:0;
 padding:0;
 background-color:#202020 ;
 font-family:'Bangers', Arial, Helvetica, sans-serif;
 color:white;
 scroll-behavior: smooth;
 font-size:14px;

}
html, body{
    background-color: #202020;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}
li,a {
    text-decoration:none;
    font-weight: 500;
    font-size: 1.15em;
    color:#595959;
}

.icon{
    display:flex;
    justify-content: flex-end;
    padding: 15px 5%;   
}


.logo{
float: left;
margin-right:auto;
cursor: pointer;
margin-right: 30px;
}


.nav_links{
    list-style:none;
   padding:0px 20px;
   
}


.nav_links li{
   margin:0px 10px;
    display: inline-block;
    
}
.nav_links  a{
    transition: all 0,3s ease 0s;
}
.nav_links li a:hover{
    color:white;
    text-decoration: none;

}
button{
    color:   black;
    background-color: white;
    transition: all 0,3s ease 0s;
    padding: 0px 4px;
}

.buttons{
    display:flex;
}
h1{
    text-align:center;
    color:red;
}
h2{
    text-align: center;
}
.questions{
    margin:20px 30px;
    padding:20px 30px;
    color:red;
}
.questions >p{
    margin-top:20px;
}

.form-container > h2{
    margin-bottom: 50px;

}
.col{
    border: 1px solid black;
    height:600px;
    background-position: center;
}
.col1{
    background-image: url();
}
.col2{
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
}

.modal{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border:1px solid black;
    border-radius:30px;
    z-index:1;
    background-color: white;
    width:50%;


}
.modal.active{
    transform: translate(-50%,-50%) scale(1);

}

.modal-header{
    padding:10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;   
}

/*.pop{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    display:none;
}

.pop2{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    display:none;
}
*/

.model-content{
      position:fixed;
      width:80%;
      border-radius:30px;
      box-shadow:10px 10px 5px #aaaaaa ;
      padding:40px;
      width:30%;
      background-color: white;

}

.model-header{
text-align: center;
justify-content:center;
}
#overlay{
    opacity: 0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
 #overlay.active{
    pointer-events: all;
    opacity: 1;
}
.user{
    width:30%;
    
}
.close{
    position:absolute;
    top:20px;
    right:40px;
    font-size:1.25rem;
    cursor:pointer;
}
.close2{
    position:absolute;
    top:20px;
    right:40px;
    font-size:1.25rem;
    cursor:pointer;
}

.about> h2{
    margin-top:40px;
}
.game{
    text-justify: center;
}
.heroes{
    display:flex;
    justify-content: space-evenly;
}
.heroes >li {
    list-style: none;
}